<!-- Hero Image, Flush -->
<tr>
    <td style="text-align: center; width: 400px;">
        <img src="{{ imageUrl }}" height="" alt="alt_text" border="0" style="max-width: 400px; margin: -20px 0 -10px;">
    </td>
</tr>