<!-- Hero Image, Flush -->
<tr>
    <td>
        <img src="{{ imageUrl }}" height="" alt="alt_text" border="0" align="center" style="max-width: 400px; margin: -20px 0; padding: 0 100px;">
    </td>
</tr>